$primary: #ff7010;
$black: #191919;
$gray: #a5a5a5;
$line-gray: #f0f0f0;
$background-gray: #f3f3f3;
$red: #e23535;
$light-primary: #ffeee2;
$green: #24d17e;
$font-gray: rgb(109, 109, 109);

// screens
$sm: 576px;
$md: 768px;
$lg: 1100px;
$xl: 1280px;

// shadows
$shadow-md: rgba(0, 0, 0, 0.05) 1.95px 1.95px 2.6px;
